/* Fonts
-----------------------------------------------------------------------------*/

@font-face {
	font-family: "GothamPro";
	src:url(../fonts/GothamPro.woff2) format("woff2"),
		url(../fonts/GothamPro.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}