/*----- FONTS -----*/

$got:						'GothamPro', Arial, Helvetica, sans-serif;

// end FONTS


/*----- COLORS -----*/

$clr-text:			#000000;
$clr-black:			#171717;
$clr-white:			#fff;

// end COLORS
