	<button class="menu-toggle">
		<span></span>
		<span></span>
	</button>

	<header class="header">
		<div class="container">
			<div class="header__logo">
				<div class="logo ir">
					<a href="/" class="logo__link">sitename sitename sitename</a>
				</div>
			</div>

			<div class="header__nav">
				<nav class="nav">
					{% if inner %}
					<li class="nav__item"><a class="nav__link" href="/">Menu on inner page</a></li>
					{% else %}
					<li class="nav__item"><a class="nav__link js-scroll-to" href="">Menu on homepage</a></li>
					{% endif %}
				</nav>
			</div>

			<div class="header__socials">
				<ul class="socials">
					<li class="socials__item">
						<a href="http://twitter.com/reactadvanced" target="_blank" class="socials__link">
							<svg class="socials__img tw" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://youtube.com/c/ReactConferences" target="_blank" class="socials__link">
							<svg class="socials__img yt" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_yt"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img fb" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_fb"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://medium.com/@ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img med" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_med"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header><!-- .header -->
