.svg-socials_fb-dims {
	width: 6px;
	height: 12px;
}

.svg-socials_gh-dims {
	width: 21px;
	height: 20px;
}

.svg-socials_med-dims {
	width: 15.07px;
	height: 12px;
}

.svg-socials_sl-dims {
	width: 14.216px;
	height: 14.219px;
}

.svg-socials_tw-dims {
	width: 14.96px;
	height: 12px;
}

.svg-socials_web-dims {
	width: 16px;
	height: 16px;
}

.svg-socials_yt-dims {
	width: 17px;
	height: 12px;
}

